/* view Splash */

body>div#loader {
  background: linear-gradient(132deg, #3e6696, #21354F);
  background-size: 400% 400%;
  height: 100vh;
  animation: BackgroundGradient 15s ease infinite;
}

@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* text fly / view Splash */

.fly-in-text {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fly-in-text li {
  display: inline-block;
  /* font-family: Open Sans, Arial; */
  font-weight: 300;
  font-size: 3em;
  color: #ffffff;
  opacity: 1;
  transition: all 2.5s ease;
}

.fly-in-text li:last-child {
  margin-right: 0;
}

.fly-in-text.hidden li {
  opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

/* style Vista principal */

body{
  background: #3e6696;
}

h1, h2 {
  color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body>div {
  min-height: 100vh;  
  background-color: rgba(56, 77, 99, 0.315);
}

header {
  background-color: rgba(27, 51, 75, 0.74);
}

img {
  border: 5px solid rgba(27, 51, 75, 0.945);
  border: 5px solid ;
}

/* style SECTION RESTAURANTS */
#section-restaurants>.container-fluid>.row>div {
  color: transparent;
  cursor: pointer;
  min-height: 12vh;
  padding: 0;
  transition: all 500ms;
}

#section-restaurants>.container-fluid>.row>div>p {
  min-height: 100%;
  transition: all 500ms;  
  width: 100%;
}

#section-restaurants>.container-fluid>.row>div>p:hover {
  background: rgba(128, 128, 128, 0.377);
}

/* style MODAL */

