<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Foodmap</title>
</head>

<body>
  <header>
    <h1 class="text-center text-uppercase py-3">foodmap</h1>
  </header>

  <div class="container-fluid my-3">
    <div class="row justify-content-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15603.608395195419!2d-77.02674515192797!3d-12.118850691921482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8137c30393f%3A0x5268cb2b1c4b162b!2sMiraflores!5e0!3m2!1ses-419!2spe!4v1514849348840"
        frameborder="0" style="border:0" allowfullscreen class="col-11 justify-content-center py-3"></iframe>
    </div>
  </div>
  <h2 class="text-center">Comida cerca de ti</h2>

  <!-- filtrar restaurates  -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <select name="" id="" class="col-11 col-md-10 form-control form-control-sm">
        <option value="ITA">Comida italiana</option>
        <option value="MEX">Comida mexicana</option>
        <option value="CHI">Comida china</option>
        <option value="VEGE">Comida vegetariana</option>
        <option value="PER">Comida peruana</option>
        <option value="FAST">Fast food</option>
        <option value="POST">Postres</option>
      </select>
    </div>
  </div>

  <section id="section-restaurants" class="mt-3">
    <div class="container-fluid">
      <div class="row justify-content-center"></div>
    </div>
  </section>

  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-11 col-md-10 justify-content-center py-3">
                <img class="img-fluid" id="map">
              </div>
            </div>
            <div class="row">
              <p id="place" class="col 11">
                <b>Dirección:</b>
                <span></span>.
              </p>
            </div>
            <div class="row">
              <p id="phone" class="col-11">
                <b>Teléfono:</b>
                <span></span>
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/view-1.js"></script>
</body>

</html>

